.header
  a.tab.tab_1(href='/') Overview
  a.tab.tab_4(href='/candidates') Candidates
  a.tab.tab_2(href='/today/hr') My Tasks
  a.tab.tab_3(href='/activity') Activity Feed

  a.logo(href='/')
    img(src='../assets/images/addepar.png')

  .pull-right.logout
    | Logout
    //- span.oi(data-glyph='arrow-right')
    
  .pull-right.user-info
    span.oi.oi-l(data-glyph='cog')
    | Claire Dunphy
