.header
  a.tab.tab_1(href='/') Recruiting Overview
  a.tab.tab_2(href='/today/hr') Your Tasks
  a.tab.tab_3(href='/activity') Activity Feed

  a.logo(href='/')
    img(src='../assets/images/addepar.png')

  .pull-right.logout
    | Logout
    //- span.oi(data-glyph='arrow-right')
    
  .pull-right.user-info
    span.oi(data-glyph='cog')
    | Bob Marley
