.header
  a.tab.tab-on Recruiting Overview
  a.tab Today's Tasks
  a.tab Activity Feed

  img.logo(src='assets/images/addepar.png')

  .pull-right.logout
    | Logout
    //- span.oi(data-glyph='arrow-right')
    
  .pull-right.user-info
    span.oi(data-glyph='cog')
    | Bob Marley
