.delete-modal.modal
  .modal-title Are you sure?
  .modal-body Deleting this candidate will remove him/her from the interview process.
  .modal-actions
    button.btn-flat.btn-blue Cancel
    button.btn-flat.btn-blue Delete
