extend layout

block body
  body.candidate-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .candidate.pure-g
        .pure-u-1-5
          .left-info
            .photo
            .name Don Draper
            .left-block
              .block-title Contact Info
              .block-link
                span.oi(data-glyph='phone')
                | (445) 998-2230
              .block-link
                span.oi(data-glyph='envelope-open')
                | dondraper@gmail.com
            .left-block
              .block-title Documents / Links
              .block-link
                span.oi(data-glyph='document')
                | Resume
              .block-link
                span.oi(data-glyph='globe')
                | Portfolio
          
        .pure-u-3-5
          .content
            .content-header
              div All
              div Resume Discussion
              div.tab-on Interview Feedback
            .content-posts
              .content-post
                .author
                  div
                .content
                  .content-main
                    .content-top-bar
                      .interviewer
                        .name Michael Bluth
                        .position Engineer
                      .interview-info
                        .type 
                          span.oi.oi-l(data-glyph='headphones')
                          | Phone Interview
                        .time
                          span.oi.oi-l(data-glyph='clock')
                          | 20 minutes ago
                    .content-body
                      | Overall- really nice candidate.  Has a strong engineering background and would recommend for a role on the Web Product team.
                  .post-comments
                    .comment
                      .author
                        div
                      .content
                        .content-top-bar 
                          .commenter
                            .name Mitchell Pritchett
                            .position Engineer
                          .comment-time 10 min ago
                        .content-body Good to hear!  He also has experience working with mobile, so he could help lead a potential transition in the future.
                    .comment-path
                    .comment
                      .author
                        div
                      .content
                        .content-top-bar 
                          .commenter
                            .name Arya Stark
                            .position Engineer
                          .comment-time 5 min ago
                        .content-body Totally agree with Mitchell.  I'm on the mobile team right now and we could use another engineer.  Don seems like a nice guy.
          
        .pure-u-1-5
          .right-info
            .right-block
              .block-title Action Item
              button.block-button.btn-bkg.btn-blue.open-modal(data='.evaluate-modal') Start Interview
            .right-block
              .block-title Applied For
              .block-body
                span Engineering Position
                span Engineering Department
            .right-block
              .block-title Recruitment Process
              .flow
                .event
                  .date Jan. 15th
                  .title Applied for Engineering Internship
                .path
                .event.future-event
                  .date Feb. 2nd
                  .title Phone Interview with Michael Bluth
