extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-1-5
          .left-nav
            .left-search
              span.oi(data-glyph='magnifying-glass')
              input(type='text', value='Search for a candidate')
            .left-title Candidates
            .left-tab.tab-on(data='.view-a')
              | All
              b 150
            .left-tab(data='.view-b')
              | Unreviewed
              b 0
            .left-tab(data='.view-c')
              | Saved
              b 0
            .left-tab(data='.view-d')
              | Interviewing
              b 5
            .left-sub-tabs.view-d.tab-closed
              .left-sub-tab
                | Phone
                b 1
              .left-sub-tab
                | Onsite
                b 0
            .left-tab(data='.view-e')
              | Offer Extended
              b 5
            .left-sub-tabs.view-e.tab-closed
              .left-sub-tab
                | Waiting
                b 1
              .left-sub-tab
                | Accepted
                b 3
              .left-sub-tab
                | Declined
                b 1
            .left-tab(data='.view-f')
              | Removed
              b 140
                
            .left-separator
            .left-title Positions
            .left-checkgroup
              div
                //-b &#x25a2;
                span.oi.oi-l(data-glyph='task')
                | Design
              div
                span.oi.oi-l(data-glyph='task')
                | Engineering
            //-.left-title Filters
            //-.left-checkgroup
              div
                span.oi.oi-l(data-glyph='task')
                | Resume
              div
                span.oi.oi-l(data-glyph='task')
                | Cover Letter
              div
                span.oi.oi-l(data-glyph='task')
                | Recommendation
              
        
        .pure-u-3-5
          .content
            .content-header
              div.header-action
                span.oi.oi-l(data-glyph='plus')
                | Add new candidate
            .content-tasks.view-a
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Luke Dunphy
                    span.info Applied for Advertising
                .task-gray-text 5 days ago
                .task-status-text
                  | Not reviewed
              .task    
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info Applied for Engineer
                .task-gray-text 5 days ago
                .task-status-text.green
                  span.oi.oi-l(data-glyph='eye')
                  | Reviewed
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gob Bluth
                    span.info Applied for Management
                .task-gray-text 5 days ago
            .content-tasks.view-b 
          
        .pure-u-1-5
          .right-info
            .right-block.today-block
              span.time 3:00 PM PST 
              span.date Monday, January 5th
            //-.right-block
              .block-title Today
              .flow
                .event
                  .date 9:00 AM
                  .title Phone Interview with John Smith
                .path
                .event
                  .date 11:00 AM
                  .title Phone Interview with Nick Cage
                .path
                .event
                  .date 3:00 PM
                  .title Onsite Interview with Jessica Martin
                .path
                .event.current-event
                  .date 4:30 PM
                  .title Onsite Interview with Bob Barley
