extend layout

block body
  body.process-bkg

  include ./includes/modals.jade

  .container
    include ./includes/header.jade

    .process.pure-g
      .pure-u-1-5
        .column-header
          a All Candidates
            b 7
      .pure-u-1-5
        .column-header
          a Phone Stage
            b 5
          .column-header-filter Scheduled
            span.oi(data-glyph='caret-bottom')
      .pure-u-1-5
        .column-header
          a Onsite Stage
            b 3
      .pure-u-1-5
        .column-header
          a Offer Made
            b 1
      .pure-u-1-5
        .column-header

      //- Candidates
      .pure-u-1-5
        .column.candidates-column
          .card
            .card-contact
              .card-name Zack Elliott
              .card-pos Designer
          .card
            .card-contact
              .card-name Zack Elliott
              .card-pos QA Engineer
          .card
            .card-contact
              .card-name Zack Elliott
              .card-pos Services

          .add-card
            span.oi(data-glyph='plus')
            | Add a new candidate
      
      //- Phone
      .pure-u-1-5
        .column.phone-column
          .card
            .card-contact
              .card-name Zack Elliott
              .card-pos Designer
            .upcoming-event
              span.oi(data-glyph='headphones')
              div
                span.date In 5 days
                span.date-subtext Jan. 20th
          .card
            .card-contact
              .card-name Bob Dylan
              .card-pos Engineer
            .upcoming-event
              div
                span.schedule.open-modal(data='schedule-modal') Schedule
          .card
            .card-contact
              .card-name Jimmy Hendricks
              .card-pos Engineer
            .upcoming-event
              span.oi(data-glyph='check')
              div
                span.date-ago 5 days ago
                span.date-ago-follow-up Follow up
                
      //- Onsite
      .pure-u-1-5
        .column.onsite-column
          .card
            .card-contact
              .card-name Zack Elliott
              .card-pos Designer
            .upcoming-event
              span.oi(data-glyph='home')
              div
                span.date In 5 days
                span.date-subtext Jan. 20th
                
      //- Offer
      .pure-u-1-5
          .column.onsite-column

  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(type='text/javascript', src='/js/global.js')
