extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-1-5
          .left-nav
            .left-search
              span.oi(data-glyph='magnifying-glass')
              input(type='text', value='Search for a candidate')
            .left-title Your Tasks
            .left-tab.tab-on.tab-a
              | Your Interviews
              b 3
            .left-sub-tabs.tab-sub-a
              .left-sub-tab
                | Phone Interviews
                b 2
              .left-sub-tab
                | Onsite Interviews
                b 1
            .left-tab.tab-b
              | Your Decisions
              b 1
            .left-sub-tabs.tab-sub-b
              .left-sub-tab
                | Phone Decision
                b 1
              .left-sub-tab
                | Onsite Decision
                b 0
        
        
        .pure-u-3-5
          .content
            .content-header
              //-div.tab-on.tab-a
                | Interviews
                b 5
              //-div.tab-b Decisions
              //-div.header-action
                span.oi(data-glyph='magnifying-glass')
                input(type='text', placeholder='Search')
            .content-tasks.view-a
              .task
                .task-type
                  .task-icon
                    span.oi.oi-blue-circle(data-glyph='headphones')
                  .task-time
                    span.absolute 12:00 PM
                    span.relative In 1 hour
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Don Draper
                    span.info Engineer
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.evaluate-modal') Start Interview
              .task
                .task-type
                  .task-icon
                    span.oi.oi-green-circle(data-glyph='home')
                  .task-time
                    span.absolute 1:00 PM
                    span.relative In 2 hours
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Lindsay Bluth
                    span.info Designer
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.evaluate-modal') Start Interview
              .task
                .task-type
                  .task-icon
                    span.oi.oi-blue-circle(data-glyph='headphones')
                  .task-time
                    span.absolute 3:00 PM
                    span.relative In 4 hours
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Peggy Olson
                    span.info Designer
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.evaluate-modal') Start Interview
                            
            .content-tasks.view-b
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Don Draper
                    span.info Engineer
                .task-eval
                  .eval
                    .eval-score 10
                  
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.advance-modal') Advance to Onsite
                  button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Remove
                .more-eval
                  span.oi(data-glyph='document')
                  | Evaluation
          
        .pure-u-1-5
          .right-info
            .right-block.today-block
              span.time 11:00 AM PST 
              span.date Monday, January 20th
            .right-block
              .block-title Today
              .flow
                .event.current-event
                  .date 12:00 PM
                  .title Phone Interview with Don Draper
                .path
                .event
                  .date 1:00 PM
                  .title Phone Interview with Lindsay Bluth
                .path
                .event
                  .date 3:00 PM
                  .title Onsite Interview with Peggy Olson
