extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-1-5
          .left-nav(data-step='2', data-intro='These are the common tasks that the HR manager must complete.  First, notifying candidates of changes in their recruitment status (i.e. We need more information before we can proceed, rejection notification, offer update).  Second, manage interview scheduling.', data-position='right')
            //-.left-search
              span.oi(data-glyph='magnifying-glass')
              input(type='text', value='Search for a candidate')
            .left-add.open-modal(data='.add-modal')
              span.oi.oi-l(data-glyph='plus')
              | Add new candidate 
            .left-title My Tasks
            .left-tab.tab-on(data='.view-a')
              | Notify Candidates
              b 3
            .left-sub-tabs.view-a
              .left-sub-tab
                | Need More Info
                b 2
              .left-sub-tab
                | Rejected
                b 0
              .left-sub-tab
                | Offer Update
                b 1
            .left-tab(data='.view-b')
              | Manage Interviews
              b 1
            .left-sub-tabs.tab-closed.view-b
              .left-sub-tab
                | Unscheduled
                b 1
              .left-sub-tab
                | Scheduled
                b 0
            //-.left-tab(data='.view-c')
              | Onsite Interviews
              b 0
            //-.left-sub-tabs.tab-closed.view-c
              .left-sub-tab
                | Unscheduled
                b 0
              .left-sub-tab
                | Scheduled
                b 0
                
            //-.left-separator
            //-.left-title Positions
            //-.left-checkgroup
              div
                //-b &#x25a2;
                span.oi.oi-l(data-glyph='task')
                | Design
              div
                span.oi.oi-l(data-glyph='task')
                | Engineering
            //-.left-title Filters
            //-.left-checkgroup
              div
                span.oi.oi-l(data-glyph='task')
                | Resume
              div
                span.oi.oi-l(data-glyph='task')
                | Cover Letter
              div
                span.oi.oi-l(data-glyph='task')
                | Recommendation
              
        
        .pure-u-3-5
          .content(data-step='3', data-intro='Here is the list of candidates that need to be notified because of some status update.  Luke\'s application has been saved by the reviewer... the feedback attached will probably explain that more information is needed.  Gloria\'s application also has feedback, but she was rejected.  Gob has an offer extended to him, and you have to notify him via email.  Once you have notified the candidate, you click the "Notified" button, and the task is completed.', data-position='bottom')
            .content-header
              //-div.tab-on.tab-a
                | New Candidates
                b 5
              //-div.tab-b To Be Scheduled
              //-div.header-action
                span.oi.oi-l(data-glyph='plus')
                | Add new candidate
              .header-action
                span.oi.oi-l(data-glyph='magnifying-glass')
                | Search
            .content-tasks.view-a
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Luke Dunphy
                    span.info  Advertising
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='box')
                    | Saved
                  div 5 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
                  button.btn-bkg.btn-blue Notified
              .task    
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info  Engineer
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='x')
                    | Rejected
                  div 5 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
                  button.btn-bkg.btn-blue Notified
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gob Bluth
                    span.info Management
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='check')
                    | Offer extended
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue Notified
            .content-tasks.view-b 
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Don Draper
                    span.info Designer
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='headphones')
                    | Unscheduled
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Schedule
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Linsday Bluth
                    span.info Engineer
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  //-.body-icon
                  .body-info
                    a.title(href='') Michael Bluth
                    span.info 1/20/2015 at 1:00 PM
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='headphones')
                    | Scheduled
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Reschedule
          
        .pure-u-1-5
          .right-info
            .right-block.today-block
              span.time 3:00 PM PST 
              span.date Monday, January 5th
            //-.right-block
              .block-title Today
              .flow
                .event
                  .date 9:00 AM
                  .title Phone Interview with John Smith
                .path
                .event
                  .date 11:00 AM
                  .title Phone Interview with Nick Cage
                .path
                .event
                  .date 3:00 PM
                  .title Onsite Interview with Jessica Martin
                .path
                .event.current-event
                  .date 4:30 PM
                  .title Onsite Interview with Bob Barley
