extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-4-5
          .content
            .content-header
              div.tab-on
                | All Tasks
                b 5
              div Interviews
              div Reviewing Candidates
          
        .pure-u-1-5
          .right-info
            .right-block.today-block
              span.time 3:00 PM PST 
              span.date Monday, January 5th
            .right-block
              .block-title Today
              .flow
                .event
                  .date 9:00 AM
                  .title Phone Interview with John Smith
                .path
                .event
                  .date 11:00 AM
                  .title Phone Interview with Nick Cage
                .path
                .event.current-event
                  .date 3:00 PM
                  .title Onsite Interview with Jessica Martin
                .path.future-path
                .event.future-event
                  .date 4:30 PM
                  .title Onsite Interview with Bob Barley
