extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-3-4
          .week-header
            .week-name Week of 3/19
            .week-flow
              div Mon 3/19
              div Tues 3/20
              div Wed 3/21
              div Thu 3/22
              div Fri 3/23
              div Sat 3/24
              div Sun 3/25
          .day-view
            
          
        .pure-u-1-4
          .right-info
             div Info
