extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-1-5
          .left-nav
            .left-search
              span.oi(data-glyph='magnifying-glass')
              input(type='text', value='Search for a candidate')
            .left-title My Tasks
            .left-tab.tab-on(data='.view-a')
              | Notify Candidates
              b 3
            .left-sub-tabs.view-a
              .left-sub-tab
                | Need More Info
                b 2
              .left-sub-tab
                | Removed
                b 0
              .left-sub-tab
                | Offer Update
                b 1
            .left-tab(data='.view-b')
              | Manage Interviews
              b 0
            .left-sub-tabs.tab-closed.view-b
              .left-sub-tab
                | Unscheduled
                b 0
              .left-sub-tab
                | Scheduled
                b 0
            //-.left-tab(data='.view-c')
              | Onsite Interviews
              b 0
            //-.left-sub-tabs.tab-closed.view-c
              .left-sub-tab
                | Unscheduled
                b 0
              .left-sub-tab
                | Scheduled
                b 0
                
            //-.left-separator
            //-.left-title Positions
            //-.left-checkgroup
              div
                //-b &#x25a2;
                span.oi.oi-l(data-glyph='task')
                | Design
              div
                span.oi.oi-l(data-glyph='task')
                | Engineering
            //-.left-title Filters
            //-.left-checkgroup
              div
                span.oi.oi-l(data-glyph='task')
                | Resume
              div
                span.oi.oi-l(data-glyph='task')
                | Cover Letter
              div
                span.oi.oi-l(data-glyph='task')
                | Recommendation
              
        
        .pure-u-3-5
          .content
            .content-header
              //-div.tab-on.tab-a
                | New Candidates
                b 5
              //-div.tab-b To Be Scheduled
              //-div.header-action
                span.oi.oi-l(data-glyph='plus')
                | Add new candidate
            .content-tasks.view-a
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Luke Dunphy
                    span.info Applied for Advertising
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='box')
                    | Saved
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue Mark as notified
              .task    
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info Applied for Engineer
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='x')
                    | Removed
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue Mark as notified
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gob Bluth
                    span.info Applied for Management
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='check')
                    | Offer extended
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue Mark as notified
            .content-tasks.view-b 
          
        .pure-u-1-5
          .right-info
            .right-block.today-block
              span.time 3:00 PM PST 
              span.date Monday, January 5th
            //-.right-block
              .block-title Today
              .flow
                .event
                  .date 9:00 AM
                  .title Phone Interview with John Smith
                .path
                .event
                  .date 11:00 AM
                  .title Phone Interview with Nick Cage
                .path
                .event
                  .date 3:00 PM
                  .title Onsite Interview with Jessica Martin
                .path
                .event.current-event
                  .date 4:30 PM
                  .title Onsite Interview with Bob Barley
