extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-4-5
          .content
            .content-header
              div.tab-on.tab-a
                | New Candidates
                b 5
              div.tab-b To Be Scheduled
              div.header-action
                span.oi(data-glyph='magnifying-glass')
                input(type='text', placeholder='Search')
            .content-tasks.view-a
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Luke Dunphy
                    span.info Applied for Advertising
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
                  //-button.btn-bkg.btn-blue.open-modal(data='.advance-modal')
                    | Advance To Phone Stage
                  button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Remove
              .task    
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info Applied for Engineer
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
                  //-button.btn-bkg.btn-blue.open-modal(data='.advance-modal')
                    | Advance To Phone Stage
                  button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Remove
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gob Bluth
                    span.info Applied for Management
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
                  button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Remove
            .content-tasks.view-b 
          
        .pure-u-1-5
          .right-info
            .right-block.today-block
              span.time 3:00 PM PST 
              span.date Monday, January 5th
            //-.right-block
              .block-title Today
              .flow
                .event
                  .date 9:00 AM
                  .title Phone Interview with John Smith
                .path
                .event
                  .date 11:00 AM
                  .title Phone Interview with Nick Cage
                .path
                .event
                  .date 3:00 PM
                  .title Onsite Interview with Jessica Martin
                .path
                .event.current-event
                  .date 4:30 PM
                  .title Onsite Interview with Bob Barley
