button {
  background: none;
  @include border-radius(4px);
  border: none;
  font-size: 14px;
  padding: 8px;

  &:focus {
    outline: none;
  }
}

.btn-flat.btn-blue {
  color: palette(Blue, $shade: 600);

  &:hover {
    color: palette(Blue, $shade: 800);
  }
}

.btn-flat.btn-red {
  color: palette(Red, $shade: 600);

  &:hover {
    background: palette(Red, $shade: 50);
    color: palette(Red, $shade: 800);
  }
}

.btn-flat.btn-gray {
  color: #999;

  &:hover {
    background: #eee;
    color: #666;
  }
}

.btn-bkg.btn-blue {
  background: palette(Blue, $shade: 600);
  color: palette(Blue, $shade: 50);

  &:hover {
    background: palette(Blue, $shade: 700);
    color: palette(Blue, $shade: 50);
  }
}

.btn-bkg.btn-red {
  background: palette(Red, $shade: 600);
  color: palette(Red, $shade: 50);

  &:hover {
    background: palette(Red, $shade: 700);
    color: palette(Red, $shade: 50);
  }
}

.btn-bkg.btn-green {
  background: palette(Teal, $shade: 600);
  color: palette(Teal, $shade: 50);

  &:hover {
    background: palette(Teal, $shade: 700);
    color: palette(Teal, $shade: 50);
  }
}
